.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: white;
}

.App > * {
  flex: 1;
  height: 100vh;
}

textarea {
  padding: 1em;
  width: 100%;
  resize: none;
  /* background-color: transparent; */
  border: 0;
  /* color: #fff; */
  /* font-family: monospace;
  font-size: 1.125em;
  line-height: 1.8; */
}
